<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Patient ID</th>
            <th scope="col">Disease</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let disease of diseases">
            <td>{{ disease.diseaseID }}</td>
            <td>{{ disease.patientID }}</td>
            <td>{{ disease.disease }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  