<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">firstName</th>
          <th scope="col">lastName</th>
          <th scope="col">age</th>
          <th scope="col">address</th>
          <th scope="col">contact</th>
          <th scope="col">emergencyContact</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{ patient.id }}</td>
          <td>{{ patient.firstName }}</td>
          <td>{{ patient.lastName }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.address}}</td>
          <td>{{ patient.contact}}</td>
          <td>{{ patient.emergencyContact}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
