<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">vaccineName</th>
          <th scope="col">vaccineDescription</th>
          <th scope="col">initialDate</th>
          <th scope="col">expiryDate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vaccine of vaccines">
          <td>{{ vaccine.vaccineName}}</td>
          <td>{{ vaccine.vaccineDescription }}</td>
          <td>{{ vaccine.initialDate}}</td>
          <td>{{ vaccine.expiryDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
