<div class="card">
  <h3>Patient Page:</h3>

  <app-accordion>
    <app-accordion-item title="General Information:">
      Placeholder information:
      Placeholder information:
      Placeholder information:
      Placeholder information:
    </app-accordion-item>

    <app-accordion-item title="Previous Deceises: ">
      Placeholder information:
      Placeholder information:
      Placeholder information:
      Placeholder information:
    </app-accordion-item>

    <app-accordion-item title="Medicine Prescription: ">
      Placeholder information:
      Placeholder information:
      Placeholder information:
      Placeholder information:
    </app-accordion-item>

    <app-accordion-item title="Alergie Information: ">
      Placeholder information:
      Placeholder information:
      Placeholder information:
      Placeholder information:
    </app-accordion-item>

    <app-accordion-item title="Vaccine Information: ">
      Placeholder information:
      Placeholder information:
      Placeholder information:
      Placeholder information:
    </app-accordion-item>

    <app-accordion-item title="Lab Results: ">
      Placeholder information:
      Placeholder information:
      Placeholder information:
      Placeholder information:
    </app-accordion-item>

    <app-accordion-item title="Notes: ">
      Placeholder information:
      Placeholder information:
      Placeholder information:
      Placeholder information:
    </app-accordion-item>
  </app-accordion>
</div>

