<div class="card">
  <h3>Patient Page:</h3>

  <app-accordion>
    <app-accordion-item title="General Information:">
      Placeholder information:
      Placeholder information:
      Placeholder information:
      Placeholder information:
    </app-accordion-item>


    <app-accordion-item title="Previous Diseases: ">
      <app-diseases-list></app-diseases-list>
    </app-accordion-item>

    <app-accordion-item title="Medicine Prescription: ">
      <app-medicine-prescription></app-medicine-prescription>

    </app-accordion-item>
    <app-accordion-item title="Alergie Information: ">
      <app-allergies></app-allergies>
    </app-accordion-item>

    <app-accordion-item title="Vaccine Information: ">
      <app-vaccine-list></app-vaccine-list>
    </app-accordion-item>

    <app-accordion-item title="Lab Results: ">
      <app-lab-results-list></app-lab-results-list>
    </app-accordion-item>

    <app-accordion-item title="Notes: ">
     <app-notes></app-notes>
    </app-accordion-item>
  </app-accordion>
</div>

