<div class="card">
  <h3>Patient Page:</h3>

  <app-accordion>
    <app-accordion-item title="General Information: ">
      <app-general-information></app-general-information>
    </app-accordion-item>

    <app-accordion-item title="Previous Diseases: ">
      <app-diseases-list></app-diseases-list>
    </app-accordion-item>

    <app-accordion-item title="Medicine Prescription: ">
      <app-medicine-prescription></app-medicine-prescription>

    </app-accordion-item>
    <app-accordion-item title="Alergie Information: ">
      <app-allergies></app-allergies>
    </app-accordion-item>

    <app-accordion-item title="Vaccine Information: ">
      <app-vaccine-list></app-vaccine-list>
    </app-accordion-item>

    <app-accordion-item title="Lab Results: ">
      <app-lab-results-list></app-lab-results-list>
    </app-accordion-item>

    <app-accordion-item title="Notes: ">
      <div class="notesBox">
        <div class="notesTable">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Notes Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let note of notes">
            <td>{{note.notesContent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="rearangeTextArea">
     <textarea #NotesContent class="notesInput" type="text" rows="3"></textarea>
     <button class="createNote" (click)="createNote(NotesContent.value)">Add note to patient</button>
    </div>
    </div>
    </app-accordion-item>
  </app-accordion>
</div>

