

      <div class="col main pt-5 mt-3">
          <h1 class="display-4 d-none d-sm-block">
           Dashboard
          </h1>
          <h2>Today's apointments</h2>
          <div class="alert alert-warning fade collapse" role="alert" id="myAlert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  <span class="sr-only">Close</span>
              </button>

          </div>
          <div class="row mb-3">
              <div class="col-xl-3 col-sm-6 py-2">

                  <div  class="card bg-success text-white h-100">
                      <div class="card-body bg-success">
                          <div class="rotate">
                              <i class="fa fa-user fa-4x"></i>
                          </div>
                          <h6 class="text-uppercase">Patient Name:</h6>
                          <a href="patient">
                            <h1 class="display-4">Stanimir</h1>
                          </a>
                          <h6 class="text-uppercase">Apointment Time: 10:30 am.</h6>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 py-2">
                  <div class="card text-white bg-danger h-100">

                      <div class="card-body bg-danger">
                          <div class="rotate">
                              <i class="fa fa-list fa-4x"></i>
                          </div>
                          <h6 class="text-uppercase">Patient Name:</h6>
                          <a href="patient">
                            <h1 class="display-4">Wondimu</h1>
                          </a>
                          <h6 class="text-uppercase">Apointment Time:12:30 am.</h6>
                      </div>

                  </div>

              </div>
              <div class="col-xl-3 col-sm-6 py-2">
                  <div class="card text-white bg-info h-100">

                      <div class="card-body bg-info">
                          <div class="rotate">
                              <i class="fa fa-twitter fa-4x"></i>
                          </div>
                          <h6 class="text-uppercase">Patient Name:</h6>
                          <a href="patient">
                            <h1 class="display-4">Vlad</h1>
                          </a>
                          <h6 class="text-uppercase">Apointment Time: 13:30 pm.</h6>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 py-2">
                  <div class="card text-white bg-warning h-100">
                      <div class="card-body">
                          <div class="rotate">
                              <i class="fa fa-share fa-4x"></i>
                          </div>
                          <h6 class="text-uppercase">Patient Name:</h6>
                          <a href="patient">
                            <h1 class="display-4">Emko</h1>
                          </a>
                            <h6 class="text-uppercase">Apointment Time: 14:30 pm.</h6>
                      </div>
                    
                  </div>
              </div>
          </div>
          <!--/row-->
          <!--/row-->
          <!--/row-->



<!-- Modal -->

