<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">firstName</th>
        <th scope="col">lastName</th>
        <th scope="col">age</th>
        <th scope="col">address</th>
        <th scope="col">contact</th>
        <th scope="col">emergencyContact</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.patientID }}</td>
        <td>{{ patient.firstName }}</td>
        <td>{{ patient.lastName }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.address}}</td>
        <td>{{ patient.contact}}</td>
        <td>{{ patient.emergencyContact}}</td>

<!--        <td class="row-table"> <button class="btn btn-light btn-outline-dark" data-toggle="modal" data-target="departmentDetail"-->
<!--                                       [class.selected]="patient === patientInfo"-->
<!--                                       (click)="getPatient(patient.id)"> ++ </button>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>

