<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">firstName</th>
        <th scope="col">lastName</th>
        <th scope="col">age</th>
        <th scope="col">address</th>
        <th scope="col">contact</th>
        <th scope="col">emergencyContact</th>

      </tr>
      </thead>
      <tbody>
      <tr >
        <td>{{ patients?.patientID }}</td>
        <td>{{ patients?.firstName }}</td>
        <td>{{ patients?.lastName }}</td>
        <td>{{ patients?.age }}</td>
        <td>{{ patients?.address}}</td>
        <td>{{ patients?.contact}}</td>
        <td>{{ patients?.emergencyContact}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

